@use "variables" as v;
@use "mixins";

.details {
    padding: 24px;

    @media (min-width: 1115px){
        width: 460px;
        height: 450px;
    }

    &__company {
        color: v.$Orange;
        font-size: 0.8em;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 18px;
    }

    &__title {
        font-size: 1.7em;
        color: v.$Very-dark-blue;
        margin-bottom: 20px;
    }

    &__description {
        font-size: 0.94em;
        line-height: 24px;
        color: v.$Dark-grayish-blue;
    }

    &__price {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (min-width: 1115px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
        }
    }

    &__now {
        font-size: 1.8em;
        font-weight: 700;
        color: v.$Very-dark-blue;
        display: flex;
        align-items: center;
        gap: 20px;

        &--discount {
            font-size: 0.5em;
            background-color: v.$Pale-orange;
            color: v.$Orange;
            padding: 3px 8px;
            border-radius: 5px;
        }
    }

    &__before {
        color: v.$Grayish-blue;
        font-weight: 700;
        text-decoration: line-through;
    }

    &__product-quantity {
        margin-top: 40px;
        
        @media (min-width: 1115px){
            display: flex;
            align-items: center;
            gap: 15px;
        }
    }

    &__button {
        margin-top: 30px;
        @include mixins.btn(1);

        @media (min-width: 1115px) {
            margin-top: 0px;
        }
    }
}